# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
*.sqlite3

# VSCode
.vscode/
.history/
*.code-workspace

# macOS
.DS_Store
