fastapi==0.115.0
uvicorn==0.32.0
pandas==2.2.3
sqlalchemy==2.0.32
psycopg2-binary==2.9.9
redis==5.0.1
apache-airflow==2.10.2
pyyaml==6.0.2
requests==2.32.3
pytest==8.3.2
flake8==7.1.0
black==24.10.0
pre-commit==4.0.1
prometheus-client==0.20.0
grafana-api==1.7.0
